* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: #333;
    background-color: #ececec;
}

p  {
    font-size: 18px;
    padding: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1a1a1a;
    color: white;
}

.logo {
    font-size: 29px;
    font-weight: bold;
    color:rgb(255, 255, 255);
}

.span1 {
    color: greenyellow;
    font-size: 20px;
    padding-left: 2px;

}

.span2 {
    color: yellow;
    font-size: 20px;

}

.menu {
    border-radius: 5px;
}


nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    left: -70px;
}
nav ul li {
    position: relative;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li:hover > a {
    background-color: gray;
    border-radius: 5px;
}

.center1 {
    position: relative;
    top: 0;
    right: 400px;
    border-left-style: solid;
    border-left-color:#a1a1a1;
    border-left-width: 2px;
    border-right-style: solid;
    border-right-color:#a1a1a1;
    border-right-width: 2px;
    z-index: 1000;
}

.center2 {
    z-index: 1000;
    position: relative;
    top: 0;
    right: 550px;
}

.center3 {
    z-index: 1000;
    position: relative;
    top: 0;
    right: 550px;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 100%;
    width: 100%;
}

.principal ul {
    padding: 2rem;
}

.topicos ol {
    padding: 1rem;
}

.principal a {
    text-decoration: none;
}

.topicos {
    font-size: 1.1rem;
}

.topicos img {
    width: 500px;
    height: 300px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 600px;
}

.teste {
    background-color: #fff;
    padding: 2%; 
    box-shadow: 0px 0px 5px #000;
    width: 90%; 
    max-width: 1000px; 
    margin: auto; 
}

.negrito {
    font-weight: bold;
}

#eba2 img{
    width: 500px;
    height: 300px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 600px;
}

.inicio {
    text-align: center;
    position: relative;
    bottom: 10%;
}

.principal img {
    padding: px;
}

.relaxa {
    position: relative;
    top: 0.3rem;
    padding: 1px;
}
